#php
**/composer.lock
**/composer.json
**/vendor
**/*.md

composer.lock
composer.json
vendor
*.md

# compiled output

database.ini

.git
config.php
config.ptb.php
config.local.php
sync.php
.htaccess
composer.lock
composer.json
vendor
node_modules/
testSSP/
images/
images/produk/
images/pegawai/
images/igd/
images/slideshow/
assets/
.idea/
.vscode/
audio/
document/

api/index.php
api/sync.php
api/constant.php
api/app/Connection.php
api/app/Utility.php
api/vendor
api/email_template/
api/*.txt
api/*.pem
api/*.pub
api/*.key
api/*.req
api/*.crt
api/*.sql
*.txt
*.pem
*.pub
*.key
*.req
*.crt
*.sql
*.png
*.zip
error_log
client/template/
client/plugins/
client/header.php
client/head.php
client/pages/system/login.php
**/.DS_Store
**/dist
**/node_modules
**/migration
**/ormconfig.json

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# Tests
**/coverage
**/.nyc_output

# IDEs and editors
**/.idea
**/.project
**/.classpath
**/.c9/
*.launch
**/.settings/
*.sublime-workspace

# IDE - VSCode
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json
**/avatar

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/certificates
**/*.pem
**/*.key
**/*.pfx
**/*.csr
**/*.crt
**/*.env
**/*.d.ts
**/*.d.ts.map

# Cypress test result
**/__tests__/**/*.png
**/__tests__/**/*.mp4

**/*.csv
**/*.ttf
**/*.woff2
